<template>
  <div class="hello">
    <form @submit.prevent="submitForm()">

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <transition name="fade">
            <div class="alert alert-success" v-if="activeAlert">
              <strong>{{message}}</strong>
            </div>
          </transition>

          <h2 class="header-sign">Login System</h2>
          <div class="form-group">
            <input type="text" class="form-control" name="username" v-model="username" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" v-model="password" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Login</button>
          </div>

        </div>
      </div>

    </form>

  </div>
</template>

<script>
  import {getHeader} from '../config.js'
  export default {
    name: 'coba',
    data () {
      return {
        msg: 'Menu Coba',
        username: '',
        password: '',
        activeAlert: false,
        successMessage: 'Login Berhasil!',
        errorMessage: 'Login Gagal!',
        message: ''
      }
    },
    created () {
      var strlcl = JSON.parse(window.localStorage.getItem('auth_user'))
      if (strlcl != null) {
        this.$router.push({name: 'Hello'})
      }
    },
    methods: {
      submitForm () {
        console.log('Hallo Submit ' + this.username + ' ' + this.password)
        var data = {
          client_id: 2,
          client_secret: 'bAwFb0Min9IPxTaLNgepJia7I8ReECgyLOSF7W5e',
          grant_type: 'password',
          username: this.username,
          password: this.password
        }

        const authItem = {}

        this.$http.post('http://localhost:8000/oauth/token', data)
          .then(response => {
            if (response.status === 401) {
              console.log(response.data.message)
              this.message = this.errorMessage
              this.activeAlert = true
            }

            if (response.status === 200) {
//              var self = this
              console.log(response.body)
              authItem.access_token = response.body.access_token
              authItem.refresh_token = response.body.refresh_token
              window.localStorage.setItem('auth_user', JSON.stringify(authItem))
              this.message = this.successMessage
              this.activeAlert = true
              this.$http.get('http://localhost:8000/api/user', {headers: getHeader()})
                .then(response => {
                  console.log(response)
                })
//              setTimeout(function () {
//                self.$router.push({name: 'Hello'})
//              }, 2000)
            }
            console.log(response)
          })
//          .then(error => {
//            this.message = this.errorMessage
//            this.activeAlert = true
//            console.log(error)
//          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="css">
  body{
    padding-top: 50px;
    background: #eee;
  }
  .header-sign{
    padding-bottom: 20px;
    text-align: center;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .100s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
  }
  /*@import "../../node_modules/bulma/bulma.sass"*/
</style>
