<template>
  <div id="app">
    <div class="container">
      <router-view></router-view>
    </div>

  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="sass">
  /*@import "../node_modules/bulma/bulma.sass"*/
</style>
